body {
    margin: 0px;
}

.Tela {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #404eed;
    background-image: url(Imagem2.svg), url(Imagem3.svg), url(Imagem1.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -97px 300px, 1305px 292px, bottom;
}

.Cima {
    display: flex;
    height: 80px;
    flex-grow: 1;
    justify-content: center;
}

.CimaItens {
    display: flex;
    height: 60px;
    width: 3100px;
    justify-content: space-between;
    padding: 10px;
    margin-left: 160px;
    margin-right: 177px;
}

.CimaLogo{
    align-self: center;
    color: white;
}

.CimaMeio {
    display: flex;
    align-self: center;
    width: 55%;
    justify-self: center;
    justify-content: space-between;
}

.CimaMeioItem {
    text-decoration: none;
    font-size: 16.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    flex-grow: 1;
}

.CimaMeioItem:hover {
    text-decoration: underline;
}

.CimaAbrir {
    align-self: center;
    border-top: 11px;
    border-bottom: 10px;
    border-left: 15px;
    border-right: 15px;
    border-style: solid;
    font-size: 14px;
    color: black;
    text-decoration: none;
    border-color: white;
    border-radius: 20px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Hamburger {
    display: none;
}

.Meio {
    display: flex;
    height: 572px;
    justify-content: center;
}

@font-face {
    font-family: DiscFont;
    src: url('ABCGintoNord-Black-Trial.woff')format('opentype');
}
  
.MeioTitulo {
    font-family: DiscFont;
    font-size: 54px;
    color: white;
    justify-self: center;
    margin-top: 112px;
    line-height: 50px;
    text-align: center;
}

.MeioMob {
    display: none;
}

.MeioDescricao {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-self: center;
    margin-top: 14px;
    line-height: 35px;
    text-align: center;
}

.MeioBotoes {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.MeioBotaoDownload {
    display: flex;
    margin-left: 60px;
    border-top: 15px;
    border-bottom: 15px;
    border-left: 25px;
    border-right: 25px;
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    gap: 5px;
}

.MeioBotaoAbrir {
    margin-right: 60px;
    border-top: 15px;
    border-bottom: 15px;
    border-left: 25px;
    border-right: 25px;
    border-style: solid;
    border-color: #23272a;
    border-radius: 50px;
    background-color: #23272a;
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.apiStart{
    display: flex;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    
}
.ImgApi{
    height: 400px;
}
.pInfo{
    margin: 0px;
    font-size: 30px;
    text-align: left;
}
.InputApi{
    margin-top: 50px;
}
.Latitude{
    font-size: 25px;
}
#ComboLat{
    width: 60px;
    height: 30px;
    margin-left: 40px;
}
#ComboLon{
    width: 60px;
    height: 30px;
    margin-left: 20px; 
}
#ValLat{
    width: 100px;
    height: 30px;
    margin-left: 5px;
}
.Longitude{
    font-size: 25px;
}
#ValLon{
    width: 100px;
    height: 30px;
    margin-left: 6px;
}
.apiLatitude{
    margin-top: 40px;
    text-align: left;
}
.apiLongitude{
    text-align: left;
}

#BuscarLoc{
    font-size: 15px;
    border-top: 10px;
    border-bottom: 10px;
    border-left: 15px;
    border-right: 15px;
    border-style: solid;
    border-color: #23272a;
    border-radius: 50px;
    background-color: #23272a;
    color: white;
}

.apiLogin{
    background-color: rgb(246, 246, 246);
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.login{
    
}
#LoginUser{
    width: 200px;
    height: 30px;
    margin-left: 6px;
}
#LoginEntrar{
    font-size: 15px;
    border-top: 10px;
    border-bottom: 10px;
    border-left: 15px;
    border-right: 15px;
    border-style: solid;
    border-color: #23272a;
    border-radius: 50px;
    background-color: #23272a;
    color: white;
}
@media all and (max-width: 500px) {
    .Tela{
        width: auto;
        height: 660px;
        background-image: url(Imagem2.svg);
        background-size: 400px 400px;
        background-position-y: 360px;
        background-position-x: -50px;
    }

    .Cima {
        display: flex;
        width: auto;
    }

    .CimaMeio {
        display: none;
    }

    .CimaItens {
        margin: 0px;
        justify-content: space-between;
    }

    .CimaLogo {
        margin-left: 15px;
    }

    .CimaAbrir {
        margin-left: 110px;
    }

    .Hamburger {
        display: block;
        background-color: transparent;
        border-color: transparent;
        color: white;
        margin-top: 4px;
        margin-right: 6px;
    }

    .MeioItens {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-items: center;
    }
    .MeioTitulo {
        font-size: 25px;
        margin-top: 40px;
        line-height: 50px;
        justify-self: center;
    }
    .MeioDescricao {
        font-size: 16px;
        margin-top: 10px;
        line-height: 26px;
        text-align: left;
    }

    .MeioBotoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: left;
        margin-top: 20px;
        margin-left: -60px;
        gap: 20px;
    }

    .MeioBotaoDownload {
        margin-left: -30px;
    }
    
    .MeioBotaoAbrir {
        display: none;
    }

    .MeioWeb {
        display: none;
    }
    .MeioMob {
        display: block;
    }

}
