* {
    margin: 0px;
    border: 0px;
}

.ImagenFundo {
    position:absolute;
}

.Registro {
    position: absolute;
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 350px;
    margin-left: 500px;
}

.Fundo {
    display: flex;
    flex-direction: column;
    background-color: #383c3c;
    width: 500px;
    gap: 20px;
}

.LabelTitulo {
    font-size: 25px;
    color: white;
    margin-left: 170px;
}

.Formulario {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-left: 50px;
    line-height: 30px;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LabelCad {
    font-size: 12px;
    color: #b9bbbe;
}

input {
    width: 400px;
    height: 30px;
    color: white;
}

.InputText {
    width: 400px;
    height: 30px;
    background-color: #282424;
    color: white;
}
.InputSubmit {
    background-color: #4854c8;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 110px;
    width: 180px;
}
