* {
    margin: 0px;
    border: 0px;
}

.nomeUser{
    margin-top: 50px;
    margin-left: 300px;
}
.divGeral{
    display: flex;
}
.divAddTexto{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
}
.divAddFoto{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
}
.divAddVideo{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
}
.inputDivTexto{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
}