* {
    margin: 0px;
    border: 0px;
}

.nomeUser{
    margin-top: 30px;
    margin-left: 660px;
    font-size: 30px;
}
.divGeral{
    display: flex;
}
.divAddTexto{
    width: 280px;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-left: 80px;
}
.divAddFoto{
    width: 280px;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-left: 210px;

}
.divAddVideo{
    width: 280px;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-left: 290px;
}
.lb_addTexto{
    margin-left: 12px;
    font-size: 20px;
}
.btn_post{
    font-size: 13px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.inputDivTexto{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    margin-left: 10px;
}
.lb_addFoto{
    margin-left: 12px;
    font-size: 20px;
}
.lb_addVideo{
    margin-left: 12px;
    font-size: 20px;
}
.input_user{
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.div_radio{
    margin-left: 20px;
    font-size: 18px;
}
.btn_desconectar{
    margin-left: 260px;
    font-size: 17px;
}