* {
    margin: 0px;
    border: 0px;
}

.DivTela{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap:50px;
}
.nomeUser{
    margin-top: 30px;
    font-size: 30px;
}
.divAddTexto{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 20px 40px;
}
.lb_addTexto{
    font-size: 20px;
}
.btn_post{
    font-size: 13px;
    color: white;
    background-color: #404eed;
    border-radius: 25px;
    padding: 5px 10px;
}
.inputDivTexto{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color:black;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 10px;
}

.inputFiltro{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color:black;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 10px;
}

.btn_desconectar{
    font-size: 17px;
    color: black;
    background-color: red;
    border-radius: 25px;
    padding: 5px 15px;
}