<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Logado.css">
    <title>Logado</title>
</head>
<body onload="CarregaPagina()">
    <p class="nomeUser"></p><br><br>
    <div class="divGeral">
    <div class="divAddTexto"><br><label class="lb_addTexto">Adicionar Texto:</label></Adicionar><br>
        <input type="text" name="Texto" class="inputDivTexto" id="InpTexto">
        <button class="btn_post" id="PostarTexto">Postar</button>
        <p class="ErrorTexto"></p>
    </div>
    <div action="/PostarImagens" method="POST" enctype="multipart/form-data" class="divAddFoto"><label class="lb_addFoto">Adicionar Foto:</label><br>
        <input name="imagem" type="file" id="InpImagem">
        <button class="btn_post" id="PostarImagem">Postar</button>
        <p class="ErrorImagem"></p>
    </div>
    <form action="/PostarVideos" method="POST" enctype="multipart/form-data" class="divAddVideo"><label class="lb_addVideo">Adicionar Vídeo:</label><br>
        <input name="video" type="file">
        <input type="submit" value="Postar" class="btn_post">
        <p>{{ErroVideo}}</p>
    </form>
    </div>
    <div class="div_radio">
        <div>
            <label class="filtro_user">Postagens do usuário:</label>
            <input name="PostUser" type="text" class="input_user"><br>

            <input type="radio" id="todos" name="PostType" value="*" checked>
            <label for="todos">Todas</label><br>
            <input type="radio" id="texto" name="PostType" value="Text">
            <label for="texto">Texto</label><br>
            <input type="radio" id="imagem" name="PostType" value="Img">
            <label for="imagem">Imagem</label><br>
            <input type="radio" id="video" name="PostType" value="Vid">
            <label for="video">Video</label><br>

        <button class="btn_post" id="BtnFiltrar">Filtrar</button>
        </div>
    </div>
    <a href="/logout" class="btn_desconectar">Desconectar</a>

    <div id="Feed">
    </div>
 
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" charset="utf-8">
        let Usuario = document.querySelector('.nomeUser'),
            BTNTexto = document.querySelector('#PostarTexto'),
            MsgErroTexto = document.querySelector('.ErrorTexto'),
            BTNImagem = document.querySelector('#PostarImagem'),
            MsgErroImagem = document.querySelector('.ErrorImagem'),
            BTNFiltro = document.querySelector('#BtnFiltrar'),
            Feed = document.querySelector('#Feed');
        
        function CarregaUsuario() {
            const options = {
                method: 'GET'
            };
            fetch('./UserLogado', options)
                .then(Res => Res.json())
                    .then(Res => {
                        ReactDOM.render("Usuário: " + Res.Nome, Usuario);
                    });
        };

        function Postagens(arr) {
            if (arr.length === 0)
                return <div style={{ color: 'red' }}>Nenhuma postagem encontrada</div>;
            return <ul>
                    {arr.map((i) => <li>
                            <p>Postagem realizada por: {i.User}</p>
                            <p>{i.Texto}</p>
                        </li>)}
                </ul>;
        }

        function CarregaPostagens() {
            let UserPost = document.querySelector('.input_user').value,
                TypePost = document.getElementsByName('PostType'),
                Type = "";
                
            for (var i = 0; i < TypePost.length; i++){
                if (TypePost[i].checked) {
                    Type = TypePost[i].value;
                    break;
                }
            }
            
            let Corpo = {
                'Usuario': UserPost,
                'Tipo': Type
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Corpo)
            };
            fetch('./Feed', options)
                .then(Res => Res.json())
                    .then(Res => {
                        ReactDOM.render(Postagens(Res.Postagem), Feed);
                    });
        };

        function CarregaPagina() {
            CarregaUsuario();
            CarregaPostagens();
        };

        BTNFiltro.addEventListener('click', () => {
            CarregaPostagens();
        });

        BTNTexto.addEventListener('click', () => {
            let Corpo = {
                'Texto': document.querySelector('#InpTexto').value
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Corpo)
            };
            fetch('./PostarTexto', options)
                .then(Res => Res.json())
                    .then(Res => {
                        ReactDOM.render(Res.msg, MsgErroTexto);
                        if (Res.Post) {
                            CarregaPostagens();
                        }
                    });
        });

        BTNImagem.addEventListener('click', () => {
            let arquivo = document.querySelector('#InpImagem').files[0],
                data = new FormData();
            console.log(arquivo);
            data.append('imagem', arquivo);
            console.log(data);
            const options = {
                method: 'POST',
                body: arquivo
            };
            fetch('./PostarImagens', options)
                .then(Res => Res.json())
                    .then(Res => {
                        ReactDOM.render(Res.msg, MsgErroImagem);
                    });
        });

    </script>
</body>
</html>