<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Logado.css">
    <title>Logado</title>
</head>
<body>
    <p class="nomeUser">Usuário: {{Usuario}}</p>
    <div class="divGeral">
    <form action="./PostarTexto" method="POST" class="divAddTexto"><br>
        <label for="" class="labelAddTexto">Adicionar Texto</label><br>
        <input type="text" name="Texto" class="inputDivTexto"><br><br>
        <input type="submit" value="Postar" class="postar">
        <p>{{ErroTexto}}</p>
    </form>
    <div class="divAddFoto">
        <label for="" class="labelAddFoto">Adicionar foto</label>
    </div>
    <div class="divAddVideo">
        <label for="" class="labelAddVideo">Adicionar Vídeo</label>
    </div>
    </div>
    <a href="/logout" class="desconectar">Desconectar</a>

    <div>
        {{#Postagem}}
            <p>Postagem realizada por: {{User}}</p>
            <p>{{Content}}</p>
        {{/Postagem}}
    </div>
</body>
</html>
