<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Logado.css">
    <title>Logado</title>
</head>
<body>
    <p class="nomeUser">Usuário: {{Usuario}}</p>
    <div class="divGeral">
    <form action="./PostarTexto" method="POST" class="divAddTexto">Adicionar Texto<br>
        <input type="text" name="Texto" class="inputDivTexto">
        <input type="submit" value="Postar">
        <p>{{ErroTexto}}</p>
    </form>
    <div class="divAddFoto">Adicionar Foto</div>
    <div class="divAddVideo">Adicionar Vídeo</div>
    </div>
    <a href="/logout">Desconectar</a>

    <div>
        {{#Postagem}}
            <p>Postagem realizada por: {{User}}</p>
            <p>{{Content}}</p>
        {{/Postagem}}
    </div>
</body>
</html>